<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <title>Hospital</title>
</head>
<body>
    <h1>This is the spot where you take care of your loyal companion, and you can heal.</h1>
</body>
</html>