<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <div>
        <h1>Home Page</h1>
    </div>
    <% if (user) { %>
        <h2>Welcome, <%= user %><h2>
         <br>
        <a href="/chat">Plaza</a>
         <br>
         <a href="/home">Home</a>
         <br>
         <a href="/adopt">Pets</a>
         <br>
         <a href="/hospital">Hospital</a>
        <br>
        <a href="/mall">Mall</a>
        <br>
         <a href="/logout">Leave City</a>
    <% } else { %>
        <a href="/login">Enter City</a>
    <% } %>  
</body>
</html>